<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFiVavqU6VJpkS1zrfTgKIbZh1gKgwe6s</string>
	<key>GCM_SENDER_ID</key>
	<string>253817714694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Windmill-Water.WindmillWaterV5</string>
	<key>PROJECT_ID</key>
	<string>windmillwaterv5</string>
	<key>STORAGE_BUCKET</key>
	<string>windmillwaterv5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253817714694:ios:7b84b69105dab25c636b87</string>
</dict>
</plist>